# Dependencies
/node_modules

# Testing
/coverage

# Storybook
/storybook-static

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
.pnpm-debug.log*

# Env files
.env*
!.env.local

# Typescript
*.tsbuildinfo
next-env.d.ts
