# Dependencies
/node_modules

# Testing
/coverage
/.vitest-cache

# Storybook
/storybook-static

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
.pnpm-debug.log*
debug-storybook.log

# Env files
.env*
!.env.local

# Typescript
*.tsbuildinfo
next-env.d.ts
