@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "./light.css";
@import "./dark.css";
@import "./theme.css";
@import "./transitions.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

[data-slot="button"] {
  touch-action: manipulation; /* Fix for double click on ios */
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  [data-slot="spinner"] {
    animation-duration: 1.2s !important;
    animation-iteration-count: infinite !important;
  }
}
